/***********************************************************************************
************************************************************************************
                                设置中心 - 其他设置 start 
************************************************************************************
************************************************************************************/
.tl-rtc-app-right-setting-content-other{
    overflow-y: auto;
    height: calc(100% - 55px);
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block{
    padding: 10px;
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-title{
    font-size: 13px;
    font-weight: bold;
    user-select: none;
    padding-left: 10px;
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-content{
    padding: 10px;
    background: var(--skin-setting-content-block-background);
    border-radius: 4px;
    margin-top: 10px;
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-content
.tl-rtc-app-right-setting-content-other-block-item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid var(--skin-body-border-color);
    line-height: 25px;
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-content
.tl-rtc-app-right-setting-content-other-block-item-title{
    width: 40%;
    user-select: none;
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-item-oper{
    width: 60%;
    text-align: right;
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-content
.tl-rtc-app-right-setting-content-other-block-item:last-child{
    border-bottom: 0px;
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-item-oper
.layui-badge{
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    padding: 0 15px;
    transition: all 0.2s;
    background-color: var(--skin-setting-content-block-badge-background);
    color: var(--skin-setting-content-block-badge-color);
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-item-oper
.layui-badge-active{
    background-color: var(--skin-setting-content-block-badge-hover-background) !important;
    color: var(--skin-setting-content-block-badge-hover-color);
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-item-oper
.layui-badge:hover{
    background-color: var(--skin-setting-content-block-badge-hover-background) !important;
    color: var(--skin-setting-content-block-badge-hover-color);
}

.tl-rtc-app-right-setting-content-other .tl-rtc-app-right-setting-content-other-block-item-oper 
button{
    height: 33px;
}

.tl-rtc-app-right-setting-content-other #customWss{
    height: 33px;
    border-radius: 2px;
    background: var(--skin-setting-top-search-input-background);
    color: var(--skin-setting-top-search-input-color);
    font-size: 13px;
    letter-spacing: 1px;
    border-width: 1px;
    border-color: var(--skin-body-border-color);
}

/***********************************************************************************
************************************************************************************
                                设置中心 - 其他设置 end 
************************************************************************************
************************************************************************************/